<!DOCTYPE html>
<html>
<head>
    <title>Command List</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <a href="/">Dashboard</a>
        <a href="/commands">Commands</a>
        <a href="/execute">Execute</a>
    </nav>
    <h1>Command List</h1>
    <table>
        <tr>
            <th>Command</th>
            <th>Description</th>
            <th>Example</th>
        </tr>
        <tr>
            <td>/ban</td>
            <td>Bans a player</td>
            <td>/ban player123 7d Cheating</td>
        </tr>
        <tr>
            <td>/kick</td>
            <td>Kicks a player</td>
            <td>/kick player123 Breaking rules</td>
        </tr>
    </table>
</body>
</html>
